body
{
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    margin: 15px;
}
h1
{
    text-align: center;
}
.row
{
    border: 0px solid white;
}
form label, input
{
    display: block;
    font-size: 16px;
   margin: 5px;
    font-weight: bold;
    border-radius:5px;
}
.yellow
{
    background-color: yellow;
}
nav button
{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
   background-color:lightgrey;
}
.iconbtn
{
    height: 25px;
    width: 50px;
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
    background-color:lightgrey;
    border: 1px solid black;
}

i
{
   /* background-color:lightgrey;*/
    border-radius:50%;
    margin: 3px;
    cursor: pointer;
    
}
i:hover
{
    opacity: 0.8;
}
i:active
{
    opacity: 1;
}
.btn
{
    background-color: lightgrey;
    color: black;
    display: inline;
}
#txtar
{
    width: 300px;
    height: 75px;
    color: black;
    border-radius:5px;
}
#kmz
{
    margin-top: 20px;
}