body
{
    box-sizing: border-box;
    direction: rtl;
    margin: 1px;
    text-align: center;
}
th
{
  background-color: lightgrey;
    
}
td
{
    background-color: white;
}
table
{
    height: 120px;
   margin: auto;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    width: 100%;
}
button
{
    border-radius: 5px;
    background-color: lightgrey;
    height: 30px;
    width: 60px;
    font-weight: bold;
    
}
textarea
{
    height: 100%;
    width: 100%;
}
.cont
{
    
   display: flex;
    
        
}
.btn
{
    background-color: lightgrey;
    color: black;
    border: 1px solid black;
}
.table th
{
    
    text-align: center;
    
}