body
{
    direction: rtl;
    
    box-sizing: border-box;
    margin: 15px;
    text-align: right;
}
form label, input
{
    display: block;
    font-size: 16px;
   margin: 3px;
    font-weight: bold;
    border-radius:5px;
}
h1
{
    text-align: center;
}
form div select
{
   
}
.zero
{
    width: 150px;
   
}
#secname
{
    width: 300px;
    
}
.hei
{
    height: 20px;
}
.yellow
{
    background-color: yellow;
}
#txtar
{
    width: 300px;
    height: 75px;
    color: black;
    border-radius:5px;
}
form div
{
    
}
#kmz
{
   margin-top: 20px;
}

.indon
{
    float: right;
    display: inline;
}
.out
{
    display: block;
    width: 100%;
}
.clear
{
    clear: both;
}
select
{
    margin: 5px;
    border-radius:5px;
    width: 15%;
}
nav button
{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
   background-color:lightgrey;
}
.iconbtn
{
    height: 25px;
    width: 50px;
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
    background-color:lightgrey;
    border: 1px solid black;
}

i
{
   /* background-color:lightgrey;*/
    border-radius:50%;
    margin: 3px;
    cursor: pointer;
    
}
i:hover
{
    opacity: 0.8;
}
i:active
{
    opacity: 1;
}
.row
{
    border: 0px solid white;
}
.btn
{
    background-color: lightgrey;
    color: black;
    display: inline;
}