body
{
    direction: rtl;
    
    box-sizing: border-box;
    margin: 15px;
    text-align: right;
}
form label, input
{
    display: block;
    font-size: 16px;
   margin:4px 8px;
    font-weight: bold;
    
}
h1
{
    text-align: center;
}

.zero
{
    width: 200px;
   
}
#secname
{
    width: 300px;
    
}
.hei
{
    height: 20px;
}
.yellow
{
    background-color: yellow;
}
.clear
{
    clear: both;
}
select
{
    margin: 5px;
    height: 25px;
    font-weight: bold;
    font-size: 16px;
}
nav button
{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
   background-color:lightgrey;
}
button:hover
{
    opacity: 0.8;
}
button:active
{
    opacity: 1;
}
.main1
{
    display: flex;
    height: 50px;
}
select option
{
    font-weight: bold;
    
}
.main1 div select
{
    font-size: 16px;
    font-weight: bold;
    border-radius:5px;
}
form button
{
    width: 40px;
    height: 25px;
    display: block;
}
h2
{
    color: red;
}
.nwwid
{
    width: 300px;
}
.row
{
    border: 0px solid white;
    
}
.btn
{
    background-color: lightgrey;
    color: black;
    
}